.sidenav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 12%;
    max-width: 20%;
    height: 100vw;
    background-color: black;
}

.margin-right {
    margin-right: 10px;
}